

<h2 mat-dialog-title class="modal__titel">INFORMACIÓN DE CONTACTO</h2>
<mat-dialog-content>
    <div class="info__container">
  <mat-dialog-actions style="float: right;position: absolute;top: 0;right: 0;">
    <span mat-button mat-dialog-close class="close">&times;</span>
  </mat-dialog-actions>

  <div *ngFor="let telefono of infoContacto.telefonos" class="info">
  <h4>{{telefono.name}}</h4>
  <li>{{telefono.numero}}</li>
</div>

<div *ngFor="let redSocial of infoContacto.redesSociales" class="info">
  <h4>{{redSocial.name}}</h4>
  <li>{{redSocial.value}}</li>
</div>

<div class="info">
  <h4>{{infoContacto.tituloCorreo}}</h4>
  <div *ngFor="let correo of infoContacto.correos">
    <li> {{correo.name}}: {{correo.direccion}}</li>
  </div>
</div>
</div>
</mat-dialog-content>
