<div class="hero">
      <header class="header">
      
        <div class="header__logo">
          <div class="header__lg">
            <span>&lt;</span><h4>GA</h4><span>/&gt;</span>
          </div>
          
          <div #btnHamburger (click)="showNavLinks()" id="bar-menu" class="menu-movil">
            <span></span>
            <span></span>
            <span></span>
          </div>
        
        </div><!-- header__logo -->

        <nav class="nav">

        <ul #navLinks class="nav__links">
          <li class="nav__link nav__link--active">
            <a href="#" class="nav__link__item">Portafolio</a>
          </li>
          <li class="nav__link">
            <a href="#sobre-mi" class="nav__link__item">Sobre mi</a>
          </li>
          <li class="nav__link">
            <a href="#proyectos" class="nav__link__item">Proyectos</a>
          </li>
          <li class="nav__link">
            <a href="#habilidades" class="nav__link__item">Habilidades</a>
          </li>
          <li class="nav__link">
            <a href="#" class="nav__link__item">Contacto</a>
          </li>
        </ul>
        </nav><!-- nav -->

      </header><!-- header -->
      <hr>

      <div class="informacion-principal">
        <div class="informacion-img">
          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_6gfl0jjp.json"  background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
        <div class="data">
          <p class="nombre">Soy Gerardo Gamas</p>
          <p class="titulo-profesional">Desarrollador de <span>Software</span></p>
          <nav class="redes-sociales">
            <a href="https://www.linkedin.com/in/luis-gerardo-gamas-de-la-cruz-762a56268/" target="_blank"><i class="fab fa-linkedin-in linked" aria-hidden="true"></i></a>
            <!-- <a href="https://github.com/Gamas-G?tab=repositories" target="_blank"><i class="fa fa-envelope envelope"></i></a> -->
            <a href="https://github.com/Gamas-G?tab=repositories" target="_blank"><i class="fab fa-github git"></i></a>
          </nav>
          <a href="https://firebasestorage.googleapis.com/v0/b/angular-html-54b51.appspot.com/o/CV.pdf?alt=media&token=c08e6890-db14-42d1-a7c9-32fd7d162f67" class="boton" target="_blank">Descargar <span>CV</span></a>
          <!-- <button class="boton">Descargar <span>CV</span></button> -->
        </div>
      </div>

    </div>