<main class="main">
  <!-- SECCION SOBRE MI -->
  <section id="sobre-mi" class="sobre__mi__content section__content">
    <h2>SOBRE MI</h2>
    <div class="sobre__mi">
      <img [src]="infoPaginaService.me" class="img_perfil" alt="me">
      <div class="sobre__mi__info">
        <p>{{infoPaginaService.speetch}}</p>
      </div>
    </div>
  </section>

  <!-- SECCION DE PROYECTOS -->
  <section id="proyectos" class="proyectos section__content">
    <h2>PROYECTOS</h2>
    <div class="grid__proyectos">

      <article *ngFor="let proyecto of infoPaginaService.proyectos" class="proyecto">
        <span class="thumbnail">
          <img class="thumbnail-image" [src]="proyecto.background" alt="miniatura">
        </span>

        <div class="proyecto__info">
          
          <h3>{{proyecto.titulo}}</h3>
          
          <div class="enlaces">
            <div>
              <a class="enlace-item" [href]="proyecto.enlaces.preview" target="_blank">
                <i class="fas fa-solid fa-globe"></i>
                <p>Ver</p>
              </a>
            </div>
            <div>
              <a class="enlace-item" [href]="proyecto.enlaces.repositorio" target="_blank">
                <i class="fab fa-github git"></i>
                <p>Repositorio</p>
              </a>
            </div>
          </div>
          
          <div class="tecnologias">
            
            <!-- <ul>
              <li *ngFor="let tecnologia of proyecto.tecnologias" class="tecnologia">
                <span><i [class]="tecnologia.icon"></i></span>
              <p>{{tecnologia.name}}</p>
              </li>
            </ul> -->
            <div *ngFor="let tecnologia of proyecto.tecnologias" class="tecnologia">
              <span><i [class]="tecnologia.icon" [style]="'color: '+ tecnologia.color"></i></span>
              <p>{{tecnologia.name}}</p>
            </div>
          
          </div>
        
        </div>

      </article>
    
    </div>
  </section>

  <!-- SECCION DE HABILIDADES -->
  <section id="habilidades" class="section__content">
    
    <h2>HABILIDADES</h2>
    <div class="content-habilidades">
      
      <div class="habilidades-grid">
        <button *ngFor="let habilidad of infoPaginaService.habilidades"
        id="myBtn" 
        (click)="mostrarDialog(habilidad)"
        [class]="habilidad.style">
        <i [class]="habilidad.icon"></i>
            {{habilidad.name}}
          </button>
      </div>
      
      <div class="informacion-img">
        <lottie-player src="https://lottie.host/24eb34a8-c075-44e2-a31c-861e78914d67/HFMvJTd9Vk.json" background="transparent" speed="1" loop autoplay></lottie-player>
      </div>
    </div>

  </section>

  <!-- SECCION DE CONTACTO -->
  <section id="contacto" class="section__content">
    <h2>CONTACTAME</h2>
    <div class="content-contacto">
      <div class="informacion__img__contacto">
        <lottie-player src="https://lottie.host/62be1e7b-bf8c-4594-8336-d58e4bbba031/Na4VyQqjOS.json" background="transparent" speed="1" loop autoplay></lottie-player>
      </div>
      <div class="contactos">
        <div (click)="dialogContact()" class="contacto gmail">
          <!-- <a href="https://mail.google.com/mail/u/0/?hl=es#advanced-search/to=gamasrikiest37%40gmail.com&query=in%3Asent&isrefinement=true&todisplay=Gamas?compose=new" target="_blank"><i class="fa fa-regular fa-envelope envelope"></i></a> -->
          <a><i class="fa fa-regular fa-envelope envelope"></i></a>
          <p>Gmail</p>
        </div>
        <div class="contacto in">
          <a [href]="infoPaginaService.linkedin" target="_blank"><i class="fab fa-linkedin-in linked" aria-hidden="true"></i></a>
          <p>LinkedIn</p>
        </div>
        <div class="contacto whatsapp">
          <a [href]="infoPaginaService.whatsAppRedirect"><i class="fab fa-brands fa-whatsapp"></i></a>
          <p>WhatsApp</p>
        </div>
        <div (click)="dialogContact()" class="contacto outlook">
          <a><i class="fas fa-solid fa-at"></i></a>
          <p>Outlook</p>
        </div>
      </div>
    </div>
</section>

</main>