<footer>
  <div class="footer-container">
    <div class="footer__container__info">
      <div class="footer__logo">
        <!-- <div class="header__lg"> -->
          <span>&lt;</span><h4>GA</h4><span>/&gt;</span>
        <!-- </div> -->
      </div>
      <nav class="navegacion-principal__footer">
        <!-- <a href="#">Inicio</a> -->
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#contacto">Contactame</a>
      </nav>
    </div>
    <div>
      <p>Portafolio - <span id="fecha"></span> &copy; Todos los Derechos Reservados</p>
    </div>
  </div>
</footer>