<mat-dialog-content>
    
    <section class="modal__content__tech">

      <h2 mat-dialog-title class="modal__titel">{{data.name}}</h2>
      <mat-dialog-actions style="float: right;position: absolute;top: 0;right: 0;">
        <span mat-button mat-dialog-close class="close">&times;</span>
      </mat-dialog-actions>
      
      <div class="lenguajes__content">
        <div class="modal__subtitel">
          <hr class="line">
          <h3 class="modal__subtitel">Lenguajes</h3>
          <hr class="line">
        </div>
        <div class="lenguajes__list">
          
          <div *ngFor="let lenguaje of data.lenguajes"
          class="lenguaje__item">
          <img class="icon" [src]="lenguaje.icon" [alt]="lenguaje.alt">
            <p>{{lenguaje.name}}</p>
          </div>

      </div>
      </div>
      
      <div class="Frame-otros__content">
        
        <div class="modal__subtitel">
          <hr class="line">
          <h3 class="modal__subtitel">Frameworks y Otros</h3>
          <hr class="line">
        </div>
        <div class="tecnologias__list">
          
          <div *ngFor="let framework of frameworks"
            class="tecnologia__item">
            <img class="icon" [src]="framework.icon" [alt]="framework.alt">
            <p>{{framework.name}}</p>
          </div>
        
        </div>
      </div>
    
    </section>
  
</mat-dialog-content>